# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyTest
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Runtime data
data/
images/

# OS
.DS_Store
Thumbs.db
