# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyTest
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Runtime data
data/
images/
*.session
*.session-journal
telegram_login.json
telegram_messages.json
telegram_state.json
save_settings.json

# OS
.DS_Store
Thumbs.db
